<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0Pees6m0HUihe3FXNCvCPboUvSCAWgFk</string>
	<key>GCM_SENDER_ID</key>
	<string>270931552220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phoneAuthBloc</string>
	<key>PROJECT_ID</key>
	<string>phoneauthbloc-40daf</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauthbloc-40daf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270931552220:ios:150fdb8b64f67018fbd119</string>
</dict>
</plist>